:root {
  // COLOR
  --primary: #0060df;
  --secondary: #5a6268;
  --accent: #fd6f53;
  --danger: #c82333;
  --warning: #ffc107;
  --gray: #eeeceb;
  --black: #000;
  --white: #fff;
  // SIZE
  --font-size: 10px;
  // Fonts
  --p-reg: 'ProximaNovaRegular', sans-serif;
  --p-bold: 'ProximaNovaBold', sans-serif;
  --p-light: 'ProximaNovaLight', sans-serif;

  // Other
  --transition: 225ms ease-in-out;
}

// SIZE CONTAINER
$minWidth: 320px;
$maxWidth: 1270; // ширина всего полотна 1240px + 30px padding
$maxWidthContainerREM: 127rem; // 1240px + 30px padding

// media query
$md1: 1439.98px; // 1440
$md2: 1365.98px; // 1366
$md3: 1279.98px; // 1280
$md4: 1023.98px; // 1024
$md5: 991.98px; // 992
$md6: 767.98px; // 768
$md7: 479.98px; // 480
