:root {
  // COLOR
  --primary: #0060df;
  --secondary: #5a6268;
  --accent: #fd6f53;
  --danger: #c82333;
  --warning: #ffc107;
  --gray: #eeeceb;
  --black: #000;
  --white: #fff;
  --fs: 10px;
  --lh: 1.5;
  // Fonts
  --proxiReg: 'ProximaNovaRegular', sans-serif;
  --proxBold: 'ProximaNovaBold', sans-serif;
  --proxLight: 'ProximaNovaLight', sans-serif;
}

// SIZE CONTAINER
$minWidth: 320px;
$maxWidth: 1270px; // ширина всего полотна 1240px + 30px padding
$maxWidthForMediaQuery: 1270; // ширина для всего полотна медиа запрос

// media query
$md1: 1439.98px; // 1440
$md2: 1365.98px; // 1366
$md3: 1279.98px; // 1280
$md4: 1023.98px; // 1024
$md5: 991.98px; // 992
$md6: 767.98px; // 768
$md7: 479.98px; // 480

// Other
$transition: 225ms ease-in-out;
