extends layouts/default
include helpers/mixins

block variables
	- const title = "Главная"
	- const name = "main-page"

block content
	main.content
		.container
			br
			h1 Стартовый шаблон
			.row
				.test-column
					+image('img/1','1200', '480', 'Природа')
				.test-column
					|	Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Снова, последний родного решила но ему безорфографичный текстами знаках продолжил заголовок бросил от всех вдали 	пустился выйти страна своего путь обеспечивает.Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты. Снова, последний родного решила но ему безорфографичный текстами знаках продолжил заголовок бросил от всех вдали пустился выйти страна своего путь обеспечивает.
			//- Подключение компонента card
			//- include ../blocks/components/card/card.pug

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")