extends layouts/default
include helpers/mixins

block variables
	- const title = "Главная"
	- const name = "main-page"

block content
	main.content
		.container
			br
			h1 Стартовый шаблон
			.row
				.test-collumn
					+image('img/example','_', '_', 'Природа')
				.test-collumn
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex, eius error esse delectus atque quaerat cupiditate vero. Dolorum quisquam nemo, temporibus alias omnis perspiciatis distinctio perferendis a beatae reprehenderit repellat!Impedit rerum nam explicabo laborum exercitationem assumenda minima ex animi architecto, excepturi ipsam vero dolor voluptatum dolore aliquid quo consequuntur iste qui cumque ipsum. Vitae voluptatibus possimus natus labore amet!Dolor, nam perferendis porro consequatur repudiandae, ipsa autem molestias fuga vitae neque esse iste et facilis soluta quos quod hic expedita? Iure neque, aliquid porro corrupti dolor ullam vero fuga.Accusamus corporis laboriosam delectus facere. Eum cumque cupiditate iure, facilis veritatis voluptatibus. Voluptatem similique repellendus, eos asperiores dolorem nobis, rem amet blanditiis quos officia aspernatur debitis voluptatum eligendi itaque earum.Sit laboriosam eum deserunt iste aliquam, est dicta nisi laudantium quas impedit nulla consectetur eos odio. Neque, molestiae ipsam nihil dolor culpa iusto nam error perferendis. Tenetur quam esse reprehenderit.
			//- Подключение компонента card
			//- include ../blocks/components/card/card.pug



block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")