* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  font-size: var(--fs);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: $minWidth;
  font-size: 1.6rem;
  line-height: var(--lh);
  font-family: var(--proxiReg);
  color: var(--black);
  background-color: var(--main-bg);
  overflow-wrap: normal;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

li {
  list-style-type: none;
}

input {
  outline: none;
}

p {
  margin: 0;
}

picture {
  min-height: 0;
}

a {
  display: inline-block;
  background-color: transparent;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

::placeholder {
  color: #666;
}

::selection {
  background-color: var(--accent);
  color: #fff;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 0;
  border: 0;
  object-fit: cover;
  object-position: center center;
}

.img-icon {
  img {
    width: auto;
    height: auto;
  }
}

// 37 font-size
// @include adaptive-value('font-size', 37, 25);
// адаптивные свойства
// margin-bottom: math.div(27, 37) * 1em; // 27px - отступ по макету
// line-height: math.div(70, 37) * 100%; // 70px - по макету

// Удалить
h1 {
  @include adaptiveValue('font-size', 37, 25);
  margin-bottom: math.div(27, 37) * 1em;
  line-height: math.div(70, 37) * 100%;
}

.test-column {
  @extend .coll;
  flex: 0 1 50%;
  max-width: 50%;

  @media (max-width: $md6) {
    flex: 0 1 100%;
    max-width: 100%;
  }
}
