* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  font-size: $font-size;

  @media (min-width: (1921px)) {
    font-size: 0.5205622071837585vw;
  }
}

body {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  min-height: 100vh;
  min-width: $minWidth;
  font-family: $p-reg;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--main-bg);
  color: var(--black);
  overflow-wrap: normal;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

li {
  list-style-type: none;
}

input {
  outline: none;
}

p {
  margin: 0;
}

picture {
  min-height: 0;
}

a {
  display: inline-block;
  background-color: transparent;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  min-height: 0;
  height: 100%;
  border: 0;
  object-fit: cover;
  object-position: center center;
  background-color: var(--gray);
}

// Удалить
h1 {
  @include adaptive-value('font-size', 37, 25);
  // 47 font-size
  margin-bottom: 27 / 37 * 1em; // 27px - отступ по макету
  line-height: 70 / 37 * 100%; // 70px - по макету
}

.test-collumn {
  @extend .coll;
  flex: 0 1 50%;
  max-width: 50%;

  @media (max-width: $md3) {
    flex: 0 1 100%;
    max-width: 100%;
  }
}
